body {
    text-align: center;
    
    color: #432818;
    background-color: #FFE6A7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px 20px;

}

.header {
        background-color: #BB9457;
        padding: 5px;
        border-radius: 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 100%;
        margin: 0;
        position: relative;
        top: 0;
}

.button-container {

        display: flex;
        justify-content: center;
        width: 100%; 
        margin-top: 250px;
        gap: 60px;

}
    
.btn {
          width: 125px; 
           padding: 15px;
           font-size: 1.2em;
          border: none;
          background-color: #BB9457;
          color: black;
          border-radius: 20px;
          cursor: pointer;
          text-align: center;
}
      


